ul li{
	width: 300px;
	height: 280px;
	display: inline-block;
	text-align: center;
	margin-right: 20px;
	border: 2px solid black;
	overflow: hidden;

}
ul li img{
	width: 300px;
	height: 280px;
}
ul li img:hover{
	width: 305px;
	height: 310px;
}
